{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-xs-12">
    <br>
    <a href="/" class="btn btn-default"> Home </a>
    <a href="/" class="btn btn-default"> Back </a>
    <input class="pull-right" placeholder="Search">
    <h2> DAPI - Package Market </h2>
    <hr>
    <ul class="nav nav-tabs nav-tabs-pf">
      <li><a href="/dapi/">Top Rated</a></li>
      <li><a href="/dapi-rated/">Most Rated</a></li>
      <li><a href="/dapi-recent/">Most Recent</a></li>
      <li class="active"><a href="/dapi-all/">All</a></li>
    </ul>


    <div class="row">
      <br>
      {% for p in ["Python", "Ruby", "PHP"] %}
      <div class="col-sm-12">
        <a href="{{ p }}">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="media">

              <div class="media-body">
                <h4 class="media-heading"><img alt="media-object" class="media-object" src="/static/dist/img/{{ p|lower }}.png" style="width: 20px;float: left;"> {{ p }} <small> by Someone </small> </h4>
              </div>
              Lorem ipsum dolor sit amet.
            </div>

          </div>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
